<a href="https://colab.research.google.com/github/JALVITO/CE888/blob/master/Labs/Lab_4/my_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.svm import SVC

In [2]:
# Load the dataset
df = pd.read_csv('https://raw.githubusercontent.com/albanda/CE888/master/lab4-recommender/jester-data-1.csv', header=None)
df.head()

   0      1      2      3      4    ...    96     97     98     99     100
0   74  -7.82   8.79  -9.66  -8.16  ...  99.00  -5.63  99.00  99.00  99.00
1  100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
2   49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3   48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
4   91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60

[5 rows x 101 columns]

In [3]:
# Replace 99 ratings with NaN (unrated jokes)
df.replace(99.00, np.NaN, inplace=True)
df.head()

     0     1     2     3     4     5    ...   95    96    97    98    99    100
0   74.0 -7.82  8.79 -9.66 -8.16 -7.52  ...   NaN   NaN -5.63   NaN   NaN   NaN
1  100.0  4.08 -0.29  6.36  4.37 -2.38  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2   49.0   NaN   NaN   NaN   NaN  9.03  ...   NaN   NaN   NaN   NaN   NaN   NaN
3   48.0   NaN  8.35   NaN   NaN  1.80  ...   NaN   NaN   NaN   NaN   NaN   NaN
4   91.0  8.50  4.61 -4.17 -5.39  1.36  ...  5.73  1.55  3.11  6.55  1.80  1.60

[5 rows x 101 columns]

In [4]:
# Drop the first column (not ratings, number of rated jokes by user)
df = df.drop(df.columns[0], axis=1)
df.head()

    1     2     3     4     5     6    ...   95    96    97    98    99    100
0 -7.82  8.79 -9.66 -8.16 -7.52 -8.50  ...   NaN   NaN -5.63   NaN   NaN   NaN
1  4.08 -0.29  6.36  4.37 -2.38 -9.66  ... -0.19 -2.14  3.06  0.34 -4.32  1.07
2   NaN   NaN   NaN   NaN  9.03  9.27  ...   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  8.35   NaN   NaN  1.80  8.16  ...   NaN   NaN   NaN   NaN   NaN   NaN
4  8.50  4.61 -4.17 -5.39  1.36  1.60  ...  5.73  1.55  3.11  6.55  1.80  1.60

[5 rows x 100 columns]

In [5]:
# Convert to numpy array
ratings = df.values
ratings.shape

(24983, 100)

In [6]:
# Best and worst jokes
avg_rating = np.nanmean(ratings, axis=0)
best_ind = np.argmax(avg_rating)
worst_ind = np.argmin(avg_rating)

print(f'Best joke: #{best_ind} ({avg_rating[best_ind]})')
print(f'Worst joke: #{worst_ind} ({avg_rating[worst_ind]})')

Best joke: #49 (3.6650848950824924)
Worst joke: #57 (-3.8338796373689963)

In [7]:
def replace(orig, percentage=0.1):
  """
  Replaces 'percentage'% of the original values in 'orig' with 99's
  :param orig: original data array
  :param percentage: percentage of values to replace (0<percentage<1)
  """
  new_data = orig.copy()
  rated = np.argwhere(~np.isnan(orig))
  n_rated = len(rated)
  idx = np.random.choice(n_rated, size=int(percentage*n_rated), replace=False)
  new_data[rated[idx,0], rated[idx,1]] = np.nan
  return new_data, (rated[idx,0], rated[idx,1])

In [8]:
def predict_rating(user_id, item_id):
    """ Predict a rating given a user_id and an item_id.
    """
    user_preference = latent_user_preferences[user_id]
    item_preference = latent_item_features[item_id]
    return user_preference.dot(item_preference)


def train(user_id, item_id, rating, alpha=0.0001):
    #print(item_id)
    predicted_rating = predict_rating(user_id, item_id)
    err =  predicted_rating - rating
    #print(err)
    user_pref_values = latent_user_preferences[user_id]
    latent_user_preferences[user_id] -= alpha * err * latent_item_features[item_id]
    latent_item_features[item_id] -= alpha * err * user_pref_values
    return err
    

def sgd(iterations):
    """ Iterate over all users and all items and train for 
        a certain number of iterations
    """
    mse_history = []
    for iteration in range(iterations):
        error = []
        for user_id in range(latent_user_preferences.shape[0]):
            for item_id in range(latent_item_features.shape[0]):
                rating = train_set[user_id, item_id]
                if not np.isnan(rating):
                    err = train(user_id, item_id, rating)
                    error.append(err)
        mse = (np.array(error) ** 2).mean()   
        if (iteration % 10) == 0:
            print('Iteration %d/%d:\tMSE=%.6f' % (iteration, iterations, mse))
            mse_history.append(mse)
    return mse_history

In [9]:
# Config
n_latent_factors = 4
num_iter = 100

# Create arrays for latent factors
latent_user_preferences = np.random.random((ratings.shape[0], n_latent_factors))
latent_item_features = np.random.random((ratings.shape[1], n_latent_factors))

# Obtain set to train and later validate
train_set, idx = replace(ratings, 0.1)

# Run SGD
hist = sgd(num_iter)

Iteration 0/100:	MSE=25.695728
Iteration 10/100:	MSE=23.884324
Iteration 20/100:	MSE=20.559191
Iteration 30/100:	MSE=17.729921
Iteration 40/100:	MSE=17.366754
Iteration 50/100:	MSE=17.200017
Iteration 60/100:	MSE=17.026407
Iteration 70/100:	MSE=16.779459
Iteration 80/100:	MSE=16.480129
Iteration 90/100:	MSE=16.174181

In [10]:
# Calculate MSE on validation set
total_sum = 0

for i,j in zip(idx[0], idx[1]):
  err = predict_rating(i,j) - ratings[i,j]
  err_2 = err ** 2
  total_sum += err_2

print(f'MSE (val): {total_sum / len(idx[0])}')

MSE (val): 17.318726878655813

In [15]:
# Predict on the test data
not_rated = np.argwhere(np.isnan(ratings))
for [i,j] in not_rated:
  ratings[i,j] = predict_rating(i,j)

print(f'Number of NaNs: {np.count_nonzero(np.isnan(ratings))}')

Number of NaNs: 0

# Quiz

In [16]:
df.shape

(24983, 100)

In [17]:
df.iloc[2821,34]

-1.55

In [19]:
# Load movie latent factors
latent_item_factors = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true', sheet_name='Items')
latent_user_factors = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true', sheet_name='Users')

In [33]:
latent_item_factors.head(3)

   Movie ID                                      Title  ...  Factor14  Factor15
0        11  Star Wars: Episode IV - A New Hope (1977)  ...  1.129616 -0.248806
1        12                        Finding Nemo (2003)  ...  0.506876  1.274993
2        13                        Forrest Gump (1994)  ... -2.209004 -0.419092

[3 rows x 17 columns]

In [34]:
latent_user_factors.head(3)

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552

[3 rows x 16 columns]

In [28]:
latent_item_factors[latent_item_factors['Movie ID'] == 955]

    Movie ID                          Title  ...  Factor14  Factor15
72       955  Mission: Impossible II (2000)  ...  1.547867 -0.997373

[1 rows x 17 columns]

In [38]:
latent_item_factors[['Title','Factor14']].sort_values(by=['Factor14'], ascending=False)

                          Title  Factor14
47               Titanic (1997)  2.215933
71   Mission: Impossible (1996)  1.649491
84  The Bourne Supremacy (2004)  1.627139
22        Ocean's Eleven (2001)  1.625843
83   The Bourne Identity (2002)  1.561781
..                          ...       ...
97                 X-Men (2000) -1.355542
26            Braveheart (1995) -1.532101
2           Forrest Gump (1994) -2.209004
42            Spider-Man (2002) -2.295379
43          Spider-Man 2 (2004) -2.381119

[100 rows x 2 columns]

In [54]:
def predict_movie_rating(user_id, movie_id):
  user_preference = latent_user_factors[latent_user_factors['User'] == user_id].drop(columns=['User']).values
  item_preference = np.transpose(latent_item_factors[latent_item_factors['Movie ID'] == movie_id].drop(columns=['Movie ID', 'Title']).values)

  return user_preference.dot(item_preference)[0,0]

In [55]:
predict_movie_rating(2665, 272)

-0.5469240138554037

In [56]:
predict_movie_rating(3519, 752)

-0.11006304011436605

In [79]:
def recommend_movies(user_id, n):
  movie_ids = latent_item_factors['Movie ID']
  ratings = {movie_id: predict_movie_rating(user_id, movie_id) for movie_id in movie_ids}
  return sorted(ratings, key=ratings.get, reverse=True)[:n]

In [80]:
recommend_movies(4940, 2)

[13, 278]

In [81]:
recommend_movies(4529, 3)

[597, 12, 155]